.col-md-10{
  height: 400px;
}

div#chatLog{
  overflow-y: auto;
  height: 350px;
}

ul#chatters{
  height: 100%;
  overflow-y: auto;
}

ul {
  list-style: none;
}

li:before {
    content: "";
    font-size: 15px;
    padding-right: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #4EC919;
    border-radius: 50%;
    margin-right: 7px;
}

form#chatForm{
  margin-bottom: 0px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

input#chatInput{
  width: 95%;
  height: 10%;
  outline: none;
  padding: 10px 10px 10px 0px;
}

input[type='text'] {  /* fix for iPhone Safari zooming */
  font-size: 16px;
}

span.italic{
  font-style: italic;
}

li.ng-binding.ng-scope:first-child {
    font-style: italic;
}

li.ng-binding.ng-scope:first-child:after {
    content: " (me)";
}

.container{
  margin-top: 50px;
}

.form-control{
    border-color: transparent;
    padding-left: 0px;
    box-shadow: none;
}

.center-text{
  text-align: center;
}

.error{
  color: red;
  font-style: italic;
}

.modal-header {
    border-bottom: none;
}

.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}