<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body ng-app="chatroom">

        <div class="container" ng-controller="mainController" ng-class='{"well": gotNickname}'>

            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-body">
                    <input type="text" 
                        class="form-control" 
                        ng-model="nickname" 
                        ng-keyup="$event.keyCode == 13 ? nicknameSubmitHandler() : null"
                        placeholder="Enter your nickname" 
                        autocomplete="off" 
                        autofocus 
                    >
                    <p class='error' ng-show="nicknameError">{{nicknameError}}</p>
                </div>
            </script>

            <div class="col-xs-2" id="chattersContainer" ng-show="gotNickname">
                <ul id="chatters">
                    <li ng-repeat="nickname in nicknames">{{nickname.nickname}}</li>
                </ul>
            </div>

            <div class="col-xs-10" ng-show="gotNickname">
                <div id="chatLog"></div>
                <div id="formContainer">
                    <form id="chatForm" ng-submit="submitHandler($event)">
                        <input type="text" 
                            id="chatInput" 
                            class="form-control" 
                            ng-model="chatInput" 
                            placeholder="Enter your message" 
                            autocomplete="off" 
                            autofocus 
                        >
                    </form>
                </div>
            </div>
        </div>

        <% include ../partials/scripts.ejs %>
    </body>
</html>
